appdirs==1.4.2
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
certifi==2017.1.23
click==6.7
configparser==3.5.0
enum34==1.1.6
Flask==0.12
Flask-SQLAlchemy==2.2
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pathlib2==2.2.1
pyparsing==2.1.10
scandir==1.5
singledispatch==3.4.0.3
SQLAlchemy==1.1.6
Werkzeug==0.11.15
